/* CSS Document */
@charset="utf-8";
*{margin:0;padding:0}
body
{
    
}
#thantrang
{
  padding-top: 70px;
  width: auto;
  height: auto;
  margin: auto;
  background-image: url(https://goo.gl/kPdXVg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#nhietdo
{
  border-radius: 30px;
  margin: auto;
  width: 450px;
  height: 150px;
  background-color: #4caf50;
}
#c1
{
  margin: auto;
  height: 50px;
}
#doam
{
  border-radius: 30px;
  margin: auto;
  width: 450px;
  height: 150px;
  background-color: #03a9f4;
}

#lichsu
{
  margin: auto;
  width: 456px;
  height: auto;
}

table
{
  margin: auto;
  border-radius: 10px;
  padding-top: 70px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #FFF;
}
.MyTable thead tr th {
    border: 1px solid #beb59f;
    background: #f57812;
    color: #fff;
    font-weight: bolder;
    padding: 5px 10px;
}
.MyTable tbody td {
    border: 1px solid #beb59f;
    font-weight: bolder;
    padding: 5px 10px;
}